

.stepper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    max-width: 22rem;
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
}
