.stepper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  max-width: 22rem;
  width: 100%;
  margin: auto;
  margin-bottom: 1.5rem;
}

.content-container {
  max-width: 22rem;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .stepper-container {
    max-width: 32rem;
    margin-bottom: 2rem;
  }

  .content-container {
    max-width: 32rem;
  }
}

@media (min-width: 900px) {
  .stepper-container {
    max-width: 48rem;
  }

  .content-container {
    max-width: 48rem;
  }
}

.help-modal-body {
  white-space: pre-line;
  line-height: 1.6;
  font-size: 0.95rem;
  color: var(--ion-color-medium);
}
