.onboarding-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 2rem;
}

.onboarding-header {
  text-align: center;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.95rem;
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.card-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: start;
  overflow: hidden;
  font-size: 0.95rem;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  min-width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: var(--ion-color-primary);
  color: white;
  margin-right: 10px;
}

ion-card {
  margin: 0;
  transition: border-color 0.2s ease;

  &.selected {
    border-color: var(--ion-color-primary);
    border-width: 2px;
  }
}

ion-card-content span {
  font-size: 0.85rem;
}

@media (min-width: 600px) {
  .onboarding-header h1 {
    font-size: 1.75rem;
  }

  .card-title {
    font-size: 1.1rem;
  }

  ion-card-content span {
    font-size: 0.9rem;
  }
}

@media (min-width: 900px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
