:host {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

ion-item {
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
}

ion-input,
ion-select {
  font-size: 1rem;
}
