@if (creationProcessSelected() === 'massive') {
  <app-massive-property-creation />
} @else {
  <section>
    @if (!hasProperties()) {
      <app-properties-list-empty (addProperty)="openModal()" />
    } @else {
      <ion-button fill="outline" expand="block" (click)="openModal()">
        <ion-icon name="add" slot="start"></ion-icon>
        {{ "condominium.createProperty.createProperty" | transloco }}
      </ion-button>
      <app-structures-properties-accordion
        [structureSelected]="structureSelected()"
        (selectProperty)="editProperty($event)"
      />
    }
  </section>
}

<ion-modal
  [isOpen]="isPropertiesModalOpen()"
  (ionModalDidDismiss)="closeModal()"
  [backdropDismiss]="false"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{
          "condominium.createProperty.createProperty" | transloco
        }}</ion-title>
        <ion-buttons slot="end">
          <ion-button fill="clear" color="secondary" (click)="closeModal()">
            {{ "common.cancel" | transloco }}
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <p class="text-secondary structure-modal-description ion-padding-bottom">
        {{ "condominium.createProperty.description" | transloco }}
      </p>
      <app-create-property-form [showButton]="false" />
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button
            fill="solid"
            color="primary"
            (click)="handleCreateProperty()"
          >
            {{ "common.save" | transloco }}
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
