<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar >
      <div class="ion-align-items-center ion-flex-row ion-display-flex ion-padding-horizontal">
        <ion-icon src="../../../assets/icon/logo/condomain-icon.svg" color="primary" size="medium"></ion-icon>
        <ion-title>Condomain</ion-title>
      </div>
      
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <app-sidemenu-content />
  </ion-content>
  <ion-footer>
    <ion-toolbar class="ion-padding-horizontal">
      <ion-buttons>

        <app-language-selector />
      </ion-buttons>

    </ion-toolbar>
  </ion-footer>
</ion-menu>


<div class="ion-page" id="main-content">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ng-content></ng-content>
  </ion-content>
</div>
