@font-face {
    font-family: Supreme;
    src: url(../assets/fonts/Supreme-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Supreme;
    src: url(../assets/fonts/Supreme-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Supreme;
    src: url(../assets/fonts/Supreme-Regular.ttf);
    font-weight: normal;
}