.text-base {
  color: var(--text-base);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-light {
  color: var(--text-light);
}

.text-medium {
  color: var(--text-medium);
}

.text-muted {
  color: var(--text-medium);
}

.text-xs {
  font-size: 0.65rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-md {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.5rem;
}