.text-base {
  color: var(--text-base);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-light {
  color: var(--text-light);
}

.text-medium {
  color: var(--text-medium);
}

.text-muted {
  color: var(--text-medium);
}
