// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #ff8200;
  --ion-color-primary-rgb: 255, 130, 0;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #e07200;
  --ion-color-primary-tint: #ff8f1a;
  --ion-color-primary-step-900: #ff8400;
  --ion-color-primary-step-800: #ffae17;
  --ion-color-primary-step-700: #ffc721;
  --ion-color-primary-step-600: #ffdf2a;
  --ion-color-primary-step-500: #f7e823;
  --ion-color-primary-step-400: #faed4c;
  --ion-color-primary-step-300: #fdf26f;
  --ion-color-primary-step-200: #fef79a;
  --ion-color-primary-step-100: #fffac3;
  --ion-color-primary-step-50: #fffee7;

  --ion-color-secondary: #1e1e1e;
  --ion-color-secondary-rgb: 30, 30, 30;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #1a1a1a;
  --ion-color-secondary-tint: #353535;
  --ion-color-secondary-step-900: #1e1e1e;
  --ion-color-secondary-step-800: #3f3f3f;
  --ion-color-secondary-step-700: #5d5d5d;
  --ion-color-secondary-step-600: #717171;
  --ion-color-secondary-step-500: #9a9a9a;
  --ion-color-secondary-step-400: #b9b9b9;
  --ion-color-secondary-step-300: #dddddd;
  --ion-color-secondary-step-200: #ececec;
  --ion-color-secondary-step-100: #f4f4f4;
  --ion-color-secondary-step-50: #f9f9f9;

  --ion-color-tertiary: #fffafa;
  --ion-color-tertiary-rgb: 255, 250, 250;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #e0dcdc;
  --ion-color-tertiary-tint: #fffbfb;
  --ion-color-tertiary-step-900: #292626;
  --ion-color-tertiary-step-800: #4b4747;
  --ion-color-tertiary-step-700: #6b6767;
  --ion-color-tertiary-step-600: #807b7b;
  --ion-color-tertiary-step-500: #a9a5a5;
  --ion-color-tertiary-step-400: #c8c3c3;
  --ion-color-tertiary-step-300: #eae5e5;
  --ion-color-tertiary-step-200: #f5f0f0;
  --ion-color-tertiary-step-100: #faf5f5;
  --ion-color-tertiary-step-50: #fffafa;

  --ion-color-success: #4fce7e;
  --ion-color-success-rgb: 79, 206, 126;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #46b56f;
  --ion-color-success-tint: #61d38b;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #f82e25;
  --ion-color-danger-rgb: 248, 46, 37;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #da2821;
  --ion-color-danger-tint: #f9433b;

  --ion-color-light: #fffafa;
  --ion-color-light-rgb: 255, 250, 250;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e0dcdc;
  --ion-color-light-tint: #fffbfb;

  --ion-color-medium: #b0b0b0;
  --ion-color-medium-rgb: 176, 176, 176;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #9b9b9b;
  --ion-color-medium-tint: #b8b8b8;

  --ion-color-dark: #1e1e1e;
  --ion-color-dark-rgb: 30, 30, 30;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1a1a1a;
  --ion-color-dark-tint: #353535;

  --text-base: #1e1e1e;
  --text-secondary: #555555;
  --text-medium: #6a7282;
  --text-light: #fffafa;

  --custom-background-color: #fffafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-color-secondary: #fffafa;
    --ion-color-secondary-rgb: 255, 250, 250;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #e0dcdc;
    --ion-color-secondary-tint: #fffbfb;
    --ion-color-secondary-step-900: #292626;
    --ion-color-secondary-step-800: #4b4747;
    --ion-color-secondary-step-700: #6b6767;
    --ion-color-secondary-step-600: #807b7b;
    --ion-color-secondary-step-500: #a9a5a5;
    --ion-color-secondary-step-400: #c8c3c3;
    --ion-color-secondary-step-300: #eae5e5;
    --ion-color-secondary-step-200: #f5f0f0;
    --ion-color-secondary-step-100: #faf5f5;
    --ion-color-secondary-step-50: #fffafa;

    --ion-color-tertiary: #1e1e1e;
    --ion-color-tertiary-rgb: 30, 30, 30;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #1a1a1a;
    --ion-color-tertiary-tint: #353535;
    --ion-color-tertiary-step-900: #1e1e1e;
    --ion-color-tertiary-step-800: #3f3f3f;
    --ion-color-tertiary-step-700: #5d5d5d;
    --ion-color-tertiary-step-600: #717171;
    --ion-color-tertiary-step-500: #9a9a9a;
    --ion-color-tertiary-step-400: #b9b9b9;
    --ion-color-tertiary-step-300: #dddddd;
    --ion-color-tertiary-step-200: #ececec;
    --ion-color-tertiary-step-100: #f4f4f4;
    --ion-color-tertiary-step-50: #f9f9f9;

    --text-base: #fffafa;
    --text-secondary: #aaaaaa;
    --text-medium: #cccccc;
    --text-light: #1e1e1e;

    --custom-background-color: #121212;
  }
}
