<ng-container *transloco="let t">
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title class="ion-text-center"> {{ t("auth.forgotPassword.title") }} </ion-card-title>
    </ion-card-header>
    
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <ion-input
        type="email"
        placeholder="{{ t('auth.forgotPassword.emailPlaceholder') }}"
        label="{{ t('auth.forgotPassword.emailLabel') }}"
        formControlName="email"
        [errorText]="emailError$ | async"
      ></ion-input>

      <ion-button
        type="submit"
        expand="block"
        class="ion-padding-top"
        [disabled]="forgotPasswordForm.touched && forgotPasswordForm.invalid"
      >
        {{ t("auth.forgotPassword.submitButton") }}
      </ion-button>
    </form>
  </ion-card>
</ng-container>
