<ng-container *transloco="let t">
  <form
    [formGroup]="createCondominiumForm"
    (ngSubmit)="onSubmit()"
    class="form-container"
  >
    <app-avatar-uploader
      (fileSelected)="selectAvatar($event)"
      [imagePreview]="fileBuffer()"
    />

    <ion-item>
      <ion-input
        formControlName="name"
        [placeholder]="t('condominium.createForm.name')"
        [errorText]="nameError$ | async"
      ></ion-input>
    </ion-item>

    <ion-item >
      <ion-textarea
        formControlName="address"
        [placeholder]="t('condominium.createForm.address')"
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <app-currency-selector
        formControlName="currency"
        [label]="t('condominium.createForm.currency')"
        [placeholder]="t('condominium.createForm.currency')"
        [errorText]="currencyError$ | async"
      ></app-currency-selector>
    </ion-item>
    @if (showSubmitButton()) {
      <ion-button
        type="submit"
        expand="block"
        class="ion-padding-top"
        [disabled]="
          loading() ||
          (createCondominiumForm.touched && createCondominiumForm.invalid)
        "
      >
        @if (loading()) {
          <ion-spinner name="crescent"></ion-spinner>
        } @else {
          {{ t("condominium.createForm.createButton") }}
        }
      </ion-button>
    }
  </form>
</ng-container>
