<div class="total-percentage-container">
  <ion-badge
    >{{ "common.total" | transloco }} {{ totalPercentage() | number: "1.0-4" }}%
  </ion-badge>
</div>

<ion-accordion-group expand="inset" [value]="structureSelected()">
  @for (structure of structures(); track structure.name) {
    <ion-accordion [value]="structure.name">
      <ion-item slot="header">
        <ion-icon name="business-outline" slot="start" />
        <span class="structure-name clamp-text ion-text-wrap">
          {{ structure.name }}
        </span>

        <ion-badge slot="end" color="primary" class="ion-text-nowrap text-xs">
          {{ structure.properties.length }}
          <span class="units-label">
            {{ "general.units" | transloco }}
          </span>
          ({{ calculateStructurePercentage(structure) | number: "1.0-4" }}%)
        </ion-badge>
      </ion-item>
      <div slot="content">
        <ion-list>
          @for (property of structure.properties; track property.number) {
            <ion-item>
              <ion-icon name="person-outline" slot="start" />
              <div class="property-container">
                <span class="property-number clamp-text">
                  {{ property.number }}
                </span>
                <span class="text-secondary property-fee">
                  {{
                    "condominium.createStructure.fee"
                      | transloco: { value: property.fee | number: "1.0-4" }
                  }}
                </span>
              </div>
            </ion-item>
          }
        </ion-list>
      </div>
    </ion-accordion>
  }
</ion-accordion-group>
