.structure-name {
  font-weight: 500;
  font-size: 1.125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 180px;
}

.property-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
}

.property-number {
  font-size: 1rem;
  font-weight: 500;
}

.property-fee {
  font-size: 0.8rem;
}

.total-percentage-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.badge-short {
  display: inline;
}

.badge-long {
  display: none;
}

.text-danger {
  color: var(--ion-color-danger);
}

@media (min-width: 600px) {
  .structure-name {
    font-size: 1.25rem;
    max-width: 300px;
  }

  .property-number {
    font-size: 1.125rem;
  }

  .property-fee {
    font-size: 0.875rem;
  }

  .badge-short {
    display: none;
  }

  .badge-long {
    display: inline;
  }
}

@media (min-width: 900px) {
  .structure-name {
    font-size: 1.5rem;
    max-width: none;
  }
}
