<form [formGroup]="createPropertyForm" (ngSubmit)="submit()">
  <ion-item>
    <ion-input
      formControlName="number"
      [placeholder]="'condominium.createProperty.propertyNumber' | transloco"
      [errorText]="numberErrors$ | async"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      type="0"
      step="0.0001"
      formControlName="fee"
      [max]="100"
      [min]="0"
      [placeholder]="'condominium.createProperty.feePercentage' | transloco"
      [errorText]="feeErrors$ | async"
      type="number"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-select
      interface="popover"
      formControlName="structure"
      [placeholder]="'condominium.createProperty.structure' | transloco"
      [errorText]="structureErrors$ | async"
    >
      @for (structure of structures(); track structure.name) {
        <ion-select-option [value]="structure.name">
          {{ structure.name }}
        </ion-select-option>
      }
    </ion-select>
  </ion-item>

 <p>{{ 'condominium.createProperty.optionalData' | transloco }}</p>

  <ion-item>
    <ion-input
      formControlName="ownerName"
      [placeholder]="'condominium.createProperty.ownerName' | transloco"
      [errorText]="ownerNameErrors$ | async"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      formControlName="ownerEmail"
      [placeholder]="'condominium.createProperty.ownerEmail' | transloco"
      [errorText]="ownerEmailErrors$ | async"
    ></ion-input>
  </ion-item>
  @if (showButton()) {
    <ion-button type="submit">
      {{ "condominium.createProperty.createButton" | transloco }}
    </ion-button>
  }
</form>
