<form [formGroup]="createPropertyForm" (ngSubmit)="submit()">
  <ion-input
    formControlName="number"
    [placeholder]="'condominium.createProperty.propertyNumber' | transloco"
    [errorText]="numberErrors$ | async"
  ></ion-input>

  <ion-input
    type="0"
    step="0.0001"
    formControlName="fee"
    [placeholder]="'condominium.createProperty.feePercentage' | transloco"
    [errorText]="feeErrors$ | async"
    type="number"
  ></ion-input>

  <ion-select
    interface="popover"
    formControlName="structure"
    [placeholder]="'condominium.createProperty.structure' | transloco"
    [errorText]="structureErrors$ | async"
  >
    @for (structure of structures(); track structure.name) {
      <ion-select-option [value]="structure.name">
        {{ structure.name }}
      </ion-select-option>
    }
  </ion-select>

  @if (showButton()) {
    <ion-button type="submit">
      {{ "condominium.createProperty.createButton" | transloco }}
    </ion-button>
  }
</form>
