<div class="section-header">
  <ion-label>
    {{ "condominium.massiveProperty.patternLabel" | transloco }}
  </ion-label>
  <ion-note>
    {{ "condominium.massiveProperty.patternHelp" | transloco }}
  </ion-note>
</div>

<div class="pattern-visual">
  <span class="pattern-preview-text">{{ displayPattern() }}</span>
</div>

<div class="component-toggles">
  @for (chip of visibleChips(); track chip.part) {
    <ion-chip
      [color]="includeForPart(chip.part) ? 'primary' : 'medium'"
      [outline]="!includeForPart(chip.part)"
      (click)="togglePart.emit(chip.part)"
    >
      <ion-icon [name]="includeForPart(chip.part) ? 'checkmark-circle' : 'add-circle-outline'" slot="start" />
      {{ chip.labelKey | transloco }}
    </ion-chip>
  }
</div>

@if (hasHidden()) {
  <div class="toggle-chips-row">
    <ion-chip
      outline
      color="medium"
      size="small"
      (click)="toggleExpanded()"
      class="toggle-chips-chip"
    >
      <ion-icon [name]="expanded() ? 'chevron-up-circle-outline' : 'ellipsis-horizontal-circle-outline'" slot="start" />
      {{ (expanded() ? 'condominium.massiveProperty.showLess' : 'condominium.massiveProperty.showAll') | transloco }}
    </ion-chip>
  </div>
}

@if (includeCustom()) {
  <div class="extra-fields">
    <ion-item class="custom-input-item">
      <ion-input
        [value]="customWord()"
        (ionChange)="customWordChange.emit($event.detail.value ?? '')"
        [label]="'condominium.massiveProperty.customWordLabel' | transloco"
        labelPlacement="stacked"
        [placeholder]="'condominium.massiveProperty.customWordPlaceholder' | transloco"
      />
    </ion-item>
  </div>
}

<div class="extra-fields">
  <ion-item class="custom-input-item">
    <ion-input
      [value]="prefix()"
      (ionChange)="prefixChange.emit($event.detail.value ?? '')"
      [label]="'condominium.massiveProperty.prefixLabel' | transloco"
      labelPlacement="stacked"
      [placeholder]="'condominium.massiveProperty.prefixPlaceholder' | transloco"
    />
  </ion-item>
  <ion-item class="custom-input-item">
    <ion-input
      [value]="suffix()"
      (ionChange)="suffixChange.emit($event.detail.value ?? '')"
      [label]="'condominium.massiveProperty.suffixLabel' | transloco"
      labelPlacement="stacked"
      [placeholder]="'condominium.massiveProperty.suffixPlaceholder' | transloco"
    />
  </ion-item>
</div>

<div class="separator-row">
  <span class="separator-label">
    {{ "condominium.massiveProperty.separatorLabel" | transloco }}
  </span>
  <div class="separator-options">
    <ion-chip
      [color]="customSeparator() === '' ? 'primary' : 'medium'"
      [outline]="customSeparator() !== ''"
      (click)="separatorChange.emit('')"
    >
      {{ "condominium.massiveProperty.separatorNone" | transloco }}
    </ion-chip>
    <ion-chip
      [color]="customSeparator() === ' ' ? 'primary' : 'medium'"
      [outline]="customSeparator() !== ' '"
      (click)="separatorChange.emit(' ')"
    >
      {{ "condominium.massiveProperty.separatorSpace" | transloco }}
    </ion-chip>
    <ion-chip
      [color]="customSeparator() === ' - ' ? 'primary' : 'medium'"
      [outline]="customSeparator() !== ' - '"
      (click)="separatorChange.emit(' - ')"
    >
      {{ "condominium.massiveProperty.separatorHyphen" | transloco }}
    </ion-chip>
  </div>
</div>
