.container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.header-spacing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: start;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: var(--ion-color-primary);
  color: white;
  margin-right: 10px;
}


