<form [formGroup]="addStructureForm" (ngSubmit)="submitAddStructureForm()">
  <ion-input
    formControlName="name"
    [placeholder]="'condominium.createStructure.structureName' | transloco"
    [errorText]="nameErrors$ | async | transloco"
  >
  </ion-input>

  <ion-textarea
    formControlName="description"
    [placeholder]="'condominium.createStructure.structureDescription' | transloco"
    [counter]="true"
    [errorText]="descriptionErrors$ | async"
    maxlength="120"
  >
  /></ion-textarea>
</form>
