<ng-container *transloco="let t">
  @if (isLoadingCurrencies$ | async) {
    <ion-spinner slot="end" name="crescent"></ion-spinner>
  }

  <ion-select
    [placeholder]="placeholder()"
    [label]="t('currency.selectCurrency')"
    [errorText]="errorText()"
    [value]="value()"
    [disabled]="disabled()"
    (ionChange)="onCurrencyChange($event)"
    (ionDismiss)="onTouched()"
  >
    >
    @if (
      (currencies$ | async)?.length === 0 && !(isLoadingCurrencies$ | async)
    ) {
      <ion-select-option disabled>
        {{ t("currency.noCurrencies") }}
      </ion-select-option>
    }

    @for (currency of currencies$ | async; track currency.iso_code) {
      <ion-select-option [value]="currency.iso_code">
        {{ t(`currency.${currency.iso_code}`) }} ({{ currency.symbol }})
      </ion-select-option>
    }
  </ion-select>
</ng-container>
