<article class="container ion-padding">
  <div class="icon-halo">
    <ion-icon name="business-outline" color="primary" size="large"></ion-icon>
  </div>
  <div class="text-spacing">
    <h4>{{ "condominium.createStructure.noStructuresAdded" | transloco }}</h4>
    <p>
      {{
        "condominium.createStructure.noStructuresAddedDescription" | transloco
      }}
    </p>
  </div>
  <ion-button fill="outline" (click)="emitClick()">
    {{ "condominium.createStructure.addNewStructure" | transloco }}
    <ion-icon name="add" slot="end"></ion-icon>

  </ion-button>
</article>
