<ng-container *transloco="let t">
  <ion-card class="ion-padding">
    <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
      <ion-input
        formControlName="newPassword"
        type="password"
        placeholder="{{ t('auth.updatePassword.newPasswordLabel') }}"
        [errorText]="newPasswordError$ | async"
      />
      <ion-input
        formControlName="confirmNewPassword"
        type="password"
        placeholder="{{ t('auth.updatePassword.confirmNewPasswordLabel') }}"
        [errorText]="confirmNewPasswordError$ | async"
      />

      <ion-button
        type="submit"
        expand="block"
        class="ion-padding-top"
        [disabled]="updatePasswordForm.touched && updatePasswordForm.invalid"
      >
        {{ t('auth.updatePassword.submitButton') }}
      </ion-button>
    </form>
  </ion-card>
</ng-container>
